/* Move down content because we have a fixed navbar that is 50px tall */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|PT+Sans:400,700);


body {
	font-family: 'PT Sans', sans-serif;
	padding-top: 0px;
	padding-bottom: 0px;
}

p {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #002e58;
}

h1,h2,h3 {
	font-family: 'Playfair Display', serif;	
	color: #002e58;
	text-align: center;
	font-weight: 400;
}

h4,h5,h6 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	color: #002e58;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav li a {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

.navbar-default .navbar-nav li a:hover {
	text-decoration: underline;
	color: #fff;
}

.navbar-right {
	margin-right: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

.jumbotron p {
	text-align: center;
	font-weight: 400;
}

.front-page-1 {
	padding-top: 0px;
	background: #002e58 url(../assets/images/banner.jpg) no-repeat 50% 100%;
    background-size: cover;
}

.front-page-1 h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #e5e5e5;
	font-size: 3em;
	font-size: 48px;
	text-align: center;
	line-height: 1;
	mix-blend-mode: hard-light;
}

#line-one {
	padding-right: 20px;
}

#line-two {
	padding-left: 20px;
}

.front-page-1 h1 span {
	color: #cece19;
}

.front-page-1 .container {
	padding-top: 200px;
	padding-bottom: 200px;
}

.btn {
	margin: 5px 10px;
	border-radius: 0px;
	background-color: transparent;
	border-color: #fff;	
	color: #fff;
	padding: 10px 20px 10px 20px;
}

.btn-primary {
	background-color: #fff;
	color: #002e58;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #002e58;
	color: #fff;
	border-color: #fff;
}

.btn-default {
	background-color: transparent;
}

.btn-light {
	border-color: #fff;
	color: #fff;
}

.btn-light:hover, .btn-light:focus {
	border-color: #fff;
	background-color: #fff;
	color: #002e58;
}

.btn-dark {
	border-color: #002e58;
	color: #002e58;
	display: inherit;
}

.btn-dark:hover, .btn-dark:focus {
	border-color: #002e58;
	background-color: #002e58;
	color: #fff;
}

.blend-darken {
	mix-blend-mode: darken;
}

#front-page-2 {
	margin-bottom: 60px;
}

.media:first-child {
	margin-top: 20px;
}

.media-center {
	display: block;
	text-align: center;
}

.media p {
	text-align: center;
	margin: 10px;
}

.media h4 {
	text-align: center;
}

#front-page-3 {
	background-color: #badcec;
}

#front-page-3 h2 {
	text-align: left;
}

#front-page-3 span {
	text-decoration: underline;
}

#front-page-4 {
	margin-bottom: 60px;
}

.specialisms {
	background-color: #002e58;
	display: block;
	margin: 1%;
	width: 23%;
}

.specialisms h4 {
	color: #fff;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

a h4:hover{
	text-decoration: underline;
}

#academies {
	background: #002e58 url(../assets/images/academies-blue.jpg) no-repeat 50% 50%;
    background-size: cover;
}

#manufacturing {
	background: #002e58 url(../assets/images/manufacturing-blue.jpg) no-repeat 50% 50%;
    background-size: cover;
}

#charities {
	background: #002e58 url(../assets/images/charities-blue.jpg) no-repeat 50% 50%;
    background-size: cover;
}

#recruitment {
	background: #002e58 url(../assets/images/recruitment-blue.jpg) no-repeat 50% 50%;
    background-size: cover;
}

#front-page-5 {
	background-color: #002e58;
	color: #fff;
}

#front-page-5 h3 {
	color: #fff;
}

.author {
	color: #cece19;
	text-align: center
}

@media (max-width: 767px) {
	#line-one, #line-two {
		padding: 0px;
	}

	#front-page-2 h4 span {
		display: none;
	}

	#front-page-3 h2 {
		text-align: center;
		font-size: 20px;
	}

	.specialisms {
		margin: 0%;
		width: 50%;
	}
}